<%= inspect(@tally) %>

<p>
Turns left: <%= @tally.turns_left %>
</p>

<p>
Word so far: <%= word_so_far(@tally) %>
</p>

<%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn form -> %>
    <%= text_input(form, :guess) %>
    <% submit("Make next move") %>
<% end) %>
</form>
